<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <meta charset="utf-8">
    <title>Personal Improvement</title>
    <!-- STYLES -->
    <link rel="stylesheet" href="/assets/vendors/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/assets/style/style.css" />
    <!-- SCRIPTS -->
    <script type="text/javascript" src="/assets/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/homecontroller.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/addcontrollers.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/diarycontroller.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/voccontroller.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/execontrollers.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/publishcontroller.js"></script>
    <script type="text/javascript" src="/assets/scripts/factories.js"></script>

  </head>


  <body layout="row" ng-cloak>


      <md-sidenav layout="column" class="sidenav1" md-is-locked-open="true">
       <ul>
         <li><a href="#home">Home</a></li>
         <li><a href="#add">Write</a></li>
         <li><a href="#diary">Diary</a></li>
         <li><a href="#vocabulary">Vocabulary</a></li>
         <li><a href="#exercise">Exercise</a></li>
         <li><a href="#public">Public</a></li>
         <li><a href="/logout">Log Out</a></li>
       </ul>
       </md-sidenav>

      <md-content flex layout="column">
        <ng-view>

            <main ng-view></main>
        </ng-view>
      </md-content>

  </body>
</html>
