<md-content layout-padding>
      <div layout-align="center center" layout="column">
        <h1 class="md-display-3" > Write Your Day</h1>
    </div>

<div id = "left">
<md-toolbar class="md-theme-light" >
  <h2 class="md-toolbar-tools">
    <span>Diary Entry</span>
  </h2>
</md-toolbar>

  <form ng-submit ="diaryForm">
  <div layout-gt-sm="row">
    <md-datepicker ng-model="diary.date" md-placeholder="Enter date"></md-datepicker>
    <md-input-container class="md-block" flex-gt-sm>
    <label>Weather</label>
    <input ng-model="diary.weather" />
    </md-input-container>
  </div>

  <div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
    <label>Title</label>
    <input ng-model="diary.title" type="text" />
    </md-input-container>
  </div>

  <div layout-gt-sm="column">
    <!-- <md-input-container class="md-block" flex-gt-sm> -->
    <label>Content :</label>
    <!-- </md-input-container> -->
    <textarea rows="5" cols="30" ng-model="diary.content"></textarea>
    <div>total words: <span ng-bind="countOf(diary.content)"></span></div>

</div>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised" ng-click="diaryEntry(diary)">SUBMIT</md-button>
    </section>

  </form>



</div>

<div id="right">

<md-toolbar class="md-theme-light">
  <h2 class="md-toolbar-tools">
    <span>Exercise Entry</span>
  </h2>
</md-toolbar>

  <form ng-submit="exerciseForm">
    <div layout-gt-sm="row">
    <md-datepicker ng-model="exercise.time" md-placeholder="Enter date"></md-datepicker>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Exercise Type</label>
    <md-select ng-model="exercise.type" />
         <md-option ng-repeat="exercise in exercises" value="{{exercise}}">{{exercise}}</md-option>
    </md-select>
  </md-input-container>
</div>

<div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
    <label>Exercise Duration</label>
    <input ng-model="exercise.duration"  type="number" />
    </md-input-container>
  </div>

  <div layout-gt-sm="row">
  <md-input-container class="md-block" flex-gt-sm>
    <md-slider-container>
     <span>Mood: from 1 to 10</span>
     <md-slider ng-model="exercise.mood" min="1" max="10" id="mood-slider" flex-gt-sm >
     </md-slider>
    </md-slider-container>
    </md-input-container>
  </div>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button class="md-raised" ng-click="exerciseEntry(exercise)">SUBMIT</md-button>
  </section>
  </form>

  <p class = "trans">
      <form>
        <input ng-model="translate.name" type="text" placeholder="Search a word" />
        <md-button class="md-flat" ng-click="look(translate)">Look up in the dictionary</md-button>

      </form>

      <div ng-repeat="word in vocabulary">
       <md-progress-circular md-mode="indeterminate"></md-progress-circular>

        <p>
          Translation: {{ word.translation}}
        </p>
        <button ng-click="addWord(word)">Add Word</button>

      </div>
      </p>
      <p class="lookup">
        <form>
          <input ng-model="words.name" type="text" placeholder="Search a word" />
          <md-button class="md-flat" ng-click="search(words)">find the antynom and synoym</md-button>
        </form>
        <div ng-repeat="word in data">
            <p> nouns syn : {{ word.noun.syn[0] }}      |          ant : {{ word.noun.ant[0] }} </p>
            <p> adverb syn : {{ word.adverb.syn[0]}}     |          ant : {{ word.adverb.ant[0]}} </p>
            <p> verb syn : {{ word.verb.syn[0]}}     |           ant : {{ word.verb.ant[0]}} </p>
            <p> adj syn : {{ word.adjective.syn[0]}}     |        ant : {{ word.adjective.ant[0]}} </p>
        </div>
        </p>
  </div>

</md-content>
