  <md-content layout-padding>
      <div style="width : 1000px; margin: 0 auto;">
        <div layout-align="center center" layout="column">
          <h1 class="md-display-2" >Exercise Total : {{exeNum.response}}</h1>
      </div>

        <table st-table="exerciseEntered" class="table table-striped" id="exerciseShowTable">
          <thead>
            <tr md-row>
              <th md-column >Date</th>
              <th md-column >Type</th>
              <th md-column >Duration</th>

              <th md-column >Mood</th>
              <th md-column >Action</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr ng-repeat="exercise in exerciseEntered.response |orderBy: '-time'">
              <td md-cell>{{exercise.time | date:'M/d/yyyy'}}</td>
              <td md-cell>{{exercise.type}}</td>
              <td md-cell>{{exercise.duration}} mins</td>
              <td md-cell>{{exercise.mood}}</td>
              <td md-button class="md-primary md-warn" ng-click="deleteEercise(exercise)">delete</td md-button>
            </tr>
          </tbody>
        </table>

        </div>
    </md-content>
