<md-content layout-padding>
    <div layout-align="center center" layout="column">
      <h1 class="md-display-2" > Vocabulary Total : {{vocNum.response}}</h1>
  </div>

    <div ng-repeat="vocabulary in vocabularyEntered.response| orderBy : 'query' " id ="vocShow">

          <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{ vocabulary.query }}</span>
                </md-card-title-text>
              </md-card-title>

              <md-card-content>
                <div>
                  <p>
                      {{ vocabulary.translation }}
                  </p>
                </div>

              </md-card-content>

              <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-warn" ng-click="deleteVoc(vocabulary)">Delete</md-button>
              </md-card-actions>
          </md-card>
        </div>
  </md-content>
